{% set standalone = "true" %}

{% extends "base.html" %}

{% block js %}
  {{ super() }}

  {#- TRACKING -#}
  <script>
    $(function() {
      var trackLanding = function() {
        p2.util.trackMixpanelEvent('web.drivers.signup.landing');
      };
      // track landing at page load
      trackLanding();

      // eventually those 2 methods will be called inside the form submit ajax call
      var trackErrors = function(errors) {
        p2.util.trackMixpanelEvent('web.drivers.signup.error', errors);
      };
      var trackFormSubmit = function() {
        p2.util.trackMixpanelEvent('web.drivers.signup.form.submit');
      };
    });
  </script>
  {#- /TRACKING -#}

  <script src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  {#- TEMPLATE SPECIFIC DATA -#}
  <script>
    window.joinData = {{ join_data|tojson|safe}};
    window.joinData = {{ flow_type |tojson|safe}};
  </script>
  {% if referrals_template %}
    <script>
      window.joinData.csrfToken = "{{ csrf_token() }}";
    </script>
    <script src="{{url_for_asset('scripts/join/join_referrals.js')}}"></script>
  {% else %}
    <script src="{{url_for_asset('scripts/join/join.js')}}"></script>
  {% endif %}
  {#- /TEMPLATE SPECIFIC DATA -#}
{% endblock js %}
