<html>

<head>
  <link href="/static/vendor/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/bootstrap/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/bootstrap/bootstrap-editable.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/bootstrap/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/fontawesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/select2/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/select2/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/summernote/summernote.css" rel="stylesheet" type="text/css" />
  <link href="//d1a3f4spazzrp4.cloudfront.net/uber-icons/3.5.0/uber-icons.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/bootstrap/autocomplete.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link href="/static/vendor/css/bootstrap/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/bootstrap/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/vendor/js/jquery/jquery-2.1.4.min.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap.min.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap-datepicker.min.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap-editable.min.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap-dialog.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap3-typeahead.min.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap-multiselect.js"></script>
  <script src="/static/vendor/js/bootstrap/js/moment.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap-datetimepicker.js"></script>
  <script src="/static/vendor/js/bootstrap/js/timezones.full.min.js"></script>
  <script src="/static/vendor/js/bootstrap/js/collapse.js"></script>
  <script src="/static/vendor/js/bootstrap/js/transition.js"></script>

  <script src="/static/vendor/js/validator/validator.min.js"></script>
  <script src="/static/vendor/js/tablesort/tablesort.min.js"></script>
  <script src="/static/vendor/js/d3/d3.min.js"></script>
  <script src="/static/vendor/js/select2/select2.min.js"></script>
  <script src="/static/vendor/js/bootbox/bootbox.min.js"></script>
  <script src="/static/vendor/js/summernote/summernote.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/taishan_utils.js"></script>
  <script src="/static/vendor/js/bootstrap/bootstrap-tagsinput.min.js"></script>
  {% block header %}{% endblock %}
  <title>Taishan</title>
</head>

<body style="padding: 80px 20px 20px 20px;">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Taishan</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Cities</a></li>
        <li><a href="/my_experiments">My Experiments</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            Tools <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/tools/csv_splitter">CSV Splitter</a></li>
            <li><a href="/tools/data_freshness">Data Freshness</a></li>
            <li><a href="/tag/create_tag_from_file">Create Tag from File</a></li>
            <li><a href="/oncall/china_growth">China Growth Oncall</a></li>
            <li><a href="/tools/list_rule_script">List Rule Script (Admin)</a></li>
            <li><a href="/tools/download_payment">Download Misc Payment (China Only)</a></li>
          </ul>
        </li>
        <li><a href="https://code.uberinternal.com/w/teams/growth/international/china/china-driver-engagement/tutorial/">使用说明 Tutorial</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="message">
    {% if alert is defined %}
      {% for msg in alert['success'] %}
        <div class="alert alert-success" role="alert">{{ msg }}</div>
      {% endfor %}
      </div>
    {% endif %}
  {% block body %}{% endblock %}
</div>

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/jem5umq.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</body>
</html>
